@model IEnumerable<MailroomApplication.Models.Package>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Search" method="get" class="form-inline mb-3">
    <input type="text" name="residentName" value="@ViewBag.ResidentName" placeholder="Search by Resident Name" class="form-control mr-2" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.packageID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.postalService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.checkInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.checkOutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resident.residentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resident.unitNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.packageID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postalService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.checkInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.checkOutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resident.residentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resident.unitNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.packageID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.packageID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.packageID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
